apiVersion: v1
kind: Secret
metadata:
  name: app-secret
  namespace: $K8S_NAMESPACE
type: Opaque
data:
  hackmdEmail: $HACKMD_EMAIL
  hackmdPassword: $HACKMD_PASSWORD
  awsAccessKeyId: $AWS_ACCESS_KEY_ID
  awsSecretAccessKey: $AWS_SECRET_ACCESS_KEY
